{{>header}}
<link rel="stylesheet" href="/css/style.css">
<link rel="icon" href="/img/krypto_rakiety_favicon.png">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="404container" style="text-align: center; margin-top: 60px; ">
    <span style="font-size:100px; font-weight:600;">4<span style="color:#432c72; ">0</span>4</span>
    
</div>
<h1 id="hjeden404" style="text-align: center; margin: 10px auto;">Coś poszło nie tak</h1>
