<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/krypto_rakiety_favicon.png">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XR20HFSC96"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-XR20HFSC96');
    </script>
</head>
<body>
    {{>header}}
    <h1 class="tresc">{{text}}</h1>
    <div class="containerCryptoSub">
        <div class="cryptoSubImageDiv">
            <img class="cryptoSubImg">
        </div>
        <p class="cryptoSubProcent"></p>
        <p class="cryptoSubID"></p>
        <p class="marketCapRank"></p>
        <p class="cryptoSubPRICE"></p>
        <p class="cryptoSubMARKETCAP"></p>
        <p class="CirculatingSupply"></p>
        <p class="cryptoSubMaxSupply"></p>
        <p class="cryptoSub24highlow"></p>
        <p class="priceChangePercentage_1h"></p>
        <p class="priceChangePercentage_24h"></p>
        <p class="priceChangePercentage_7d"></p>
        <p class="priceChangePercentage_14d"></p>
        <p class="priceChangePercentage_30d"></p>
        <p class="priceChangePercentage_1y"></p>
        <p class="cryptoHomeV">Strona <i class="fas fa-home"></i>:<span><a class="cryptoHomePage"></a></span></p>
   
    </div>
        
        <div class="chartContainer">
            <h3 class="chartText">{{text}} wykres ceny</h3>
            <select name="chartTime" id="chartTime" onchange="odpal()">
                <option value="1">24h</option>
                <option value="7">7 dni</option>
                <option value="14">14 dni</option>
                <option value="30">30 dni</option>
                <option value="60">60 dni</option>
                <option value="100">100 dni</option>
                <option value="180">180 dni</option>
                <option value="365">365 dni</option>
                <option value="730">2 lata</option>
                <option value="max">Max</option>
         
            </select>
            <canvas id="myChart"></canvas>
            </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/cryptoSub.js"></script>
    {{>footer}}
</body>
</html>
