<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/krypto_rakiety_favicon.png">
    <title>{{title}}</title>
</head>
<body>
    {{>header}}
    
    <h1 class='tresc'>{{text}}</h1>
    <h1 style="text-align: center;">Już wkrótce</h1>
    <div class="faqContainer">
        <div class="faqItem">Czym jest aplikacja KryptoRakiety?<i class="far fa-plus-square"></i></div>
        <div class="faqItemText">Lorem Ipsum Lorem Ipsum Lorem Ipsum</div>
        <div class="faqItem">Jak została zbudowana?<i class="far fa-plus-square"></i></div>
        <div class="faqItemText">Lorem Ipsum Lorem Ipsum Lorem Ipsum</div>
        <div class="faqItem">KryptoRakiety<i class="far fa-plus-square"></i></div>
        <div class="faqItemText">Lorem Ipsum Lorem Ipsum Lorem Ipsum</div>
        <div class="faqItem">KryptoRakiety<i class="far fa-plus-square"></i></div>
        <div class="faqItemText">Lorem Ipsum Lorem Ipsum Lorem Ipsum</div>
    </div>

    {{>footer}}
</body>
</html>