<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/krypto_rakiety_favicon.png">
    <link rel="stylesheet" href="/css/style.css">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XR20HFSC96"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-XR20HFSC96');
    </script>
</head>
<body>
    {{>header}}
    
     <h1 class='tresc1'>{{text}}</h1>
    <div class="imag_contain">
       <div class="loremContainer">
           <p class="lorem">KryptoRakiety jest dedykowane dla os贸b zainteresowanych tematyk oraz handlem kryptowalutami jak i ich aktualnymi kursami. 
                        Sprawdzaj aktualne kursy, poznawaj nowe kryptowaluty i czatuj o nich ju偶 teraz! Odkrywaj nowe kryptowaluty kt贸re wybij si w g贸re i stan si twoj Krypto-Rakiet kt贸ra pomo偶e ci osign sw贸j cel<br> <br> Wyobra藕 sobie 偶e znajdujesz now ciekaw kryptowalut i chcesz si tym podzieli ze wiatem aby zachci te偶 innych do zakupu. Docz do czatu KryptoRakiety i pochwal si swoim nowym odkryciem!
        </p>
        <a href="/join-chat" class="linkJoinChat"><button class="btnJoinChat">Docz do czatu</button></a>
       </div>
        
        <img src='/img/img.jpeg'>
    </div>
   
    
    <h2 class="h2kursy">Top 10 aktualnie</h2>
    <div class="kursyContainer">
     <div class="kursy">    
        <div class="kurs"><div class="loadingbar"></div><image class="kursImg"></image><span class="createRankSymbol"></span><span class="createSpanName"></span><span class="createSpanPrice"></span><span class="createSpan1hChange"></span></div>
        <div class="kurs"><div class="loadingbar"></div><image class="kursImg"></image><span class="createRankSymbol"></span><span class="createSpanName"></span><span class="createSpanPrice"></span><span class="createSpan1hChange"></span></div>
        <div class="kurs"><div class="loadingbar"></div><image class="kursImg"></image><span class="createRankSymbol"></span><span class="createSpanName"></span><span class="createSpanPrice"></span><span class="createSpan1hChange"></span></div>
        <div class="kurs"><div class="loadingbar"></div><image class="kursImg"></image><span class="createRankSymbol"></span><span class="createSpanName"></span><span class="createSpanPrice"></span><span class="createSpan1hChange"></span></div>
        <div class="kurs"><div class="loadingbar"></div><image class="kursImg"></image><span class="createRankSymbol"></span><span class="createSpanName"></span><span class="createSpanPrice"></span><span class="createSpan1hChange"></span></div>
        <div class="kurs"><div class="loadingbar"></div><image class="kursImg"></image><span class="createRankSymbol"></span><span class="createSpanName"></span><span class="createSpanPrice"></span><span class="createSpan1hChange"></span></div>
        <div class="kurs"><div class="loadingbar"></div><image class="kursImg"></image><span class="createRankSymbol"></span><span class="createSpanName"></span><span class="createSpanPrice"></span><span class="createSpan1hChange"></span></div>
        <div class="kurs"><div class="loadingbar"></div><image class="kursImg"></image><span class="createRankSymbol"></span><span class="createSpanName"></span><span class="createSpanPrice"></span><span class="createSpan1hChange"></span></div>
        <div class="kurs"><div class="loadingbar"></div><image class="kursImg"></image><span class="createRankSymbol"></span><span class="createSpanName"></span><span class="createSpanPrice"></span><span class="createSpan1hChange"></span></div>
        <div class="kurs"><div class="loadingbar"></div><image class="kursImg"></image><span class="createRankSymbol"></span><span class="createSpanName"></span><span class="createSpanPrice"></span><span class="createSpan1hChange"></span></div>  
    </div>
    </div>
    
    <div class="czatujTeraz">
        
        <div class="chatCont">
            <img src="/img/krypto_rakiety_czat.png"> 
        </div>
        <div class="chatContLorem">
            <h1 class="tresc3">Chatuj juz teraz</h1>
            <p class="chatContLoremP">
                KryptoRakiety posiada indywidualny czat kt贸ry umo偶liwia porozumiewanie si z innymi osobami zainteresowanymi tematyk kryptowalut. Czat KryptoRakiet umo偶liwia nam pisanie w "pokojach" o tematyce kryptowalut. W naszym czacie posiadamy przykadowo takie pokoje jak: Og贸lny gdzie mo偶na pisa o wszystkim zwizanym z crypto, Bitcoin, Ethereum, Doge, Cardano, Litecoin itd. KryptoRakiety posiada r贸wnie偶 pok贸j Szybkie Rakeity kt贸ry ma su偶y do dzielenia si widz na temat nowych szybko rosncych kryptowalut kt贸re mog sta si nowym Doge lub Shiba-Inu i osign tysice % wzrostu. 
            </p>
            <a href="/join-chat" class="linkJoinChat"><button class="btnJoinChat">Czat</button></a>
        </div>

    </div>
    <div class="pageCurrencyBlock">
        <div class="pageCurrency">
            <h1 class="tresc2">Sprawd藕 aktualne kursy</h1>
            <p class="currencyLorem">
                Sprawdzaj aktualne kursy kryptowalut aby m贸c by zawsze na bie偶co z aktualnymi kursami. KryptoRakiety oferuje r贸wnie偶 sprawdzanie wykres贸w ceny, zar贸wno aktualnych np. z najbli偶szych 24h jak i historycznych od samego pocztku powstania danej waluty. W KryptoRakiety dowiesz si jakie waluty s najbardziej atrakcyjne w przecigu 24h i nazywamy to "Gorcy strza 24h" oraz co ma najlepszy aktualny wzrost w danym tygodniu czyli tzw. "Rakieta Tygodnia".
            </p>
            <a href="/crypto" ><button id="btnJoinCurrency">Kursy walut</button></a>
        </div>
        <img src="/img/krypto_rakiety_waluty.png">
    </div>
    <div class="mainHot">
        <div class="hotContainer">
            <h1 class="strzal">Gorcy strza 24hヰ</h1>
            <div class="hotCoin">
                <span class="hotCoinRank"></span>
                <div class="hotCoinImgContainer"><img class="hotCoinImg"/></div>
                <h1 class="hotCoinId"></h1>
                <h1><span class="hotCoin24Change"></span></h1>
                <h1><span class="hotCoin24Price"></span></h1>
            </div>
        </div>
        <div class="hotContainer">
            <h1 class="strzal">Rakieta tygodniaヰ</h1>
            <div class="hotCoin">
                <span class="hotCoinRank7"></span>
                <div class="hotCoinImgContainer"><img class="hotCoinImg7"/></div>
                <h1 class="hotCoinId7"></h1>
                <h1><span class="hotCoin24Change7"></span></h1>
                <h1><span class="hotCoin7Price"></span></h1>
            </div>
        </div>
    </div>
    

    <script src='/socket.io/socket.io.js'></script>
    <script src="/js/cryptoIndex.js"></script>
    {{>footer}}
</body>
</html>