<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/krypto_rakiety_favicon.png">
    <title>{{title}}</title>
</head>
<body>
    {{>header}}
    
    <h1 class='tresc'>{{text}}</h1>
    <div class="contact_container">
            <form id="contactForm">
                <h3 style="color: white;">Napisz do nas:</h3>
                <input placeholder="Imie" type="name" name="name" id="nameContactInput" required>
                <input placeholder="Twój adres E-mail" type="email" name="email" id="emailContactInput" required>
                <textarea name="text" cols="30" rows="10" id="contactTextInput" required placeholder="Twoja wiadomość"></textarea>
                <div id="contactFormBTN"><button type="submit">Wyślij <i class="fas fa-paper-plane" id="planeLogo"></i></button></div>
            </form>
    </div>
        
        
    {{>footer}}
</body>
</html>
