<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/krypto_rakiety_favicon.png">
    <meta name="Description" content="Skontaktuj się z KryptoRakiety jeśli podoba ci się ten projekt lub masz wątpliwości bądź pytania dotyczące aplikacji KryptoRakiety!">
    <title>{{title}}</title>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XR20HFSC96"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-XR20HFSC96');
    </script>
</head>
<body>
    {{>header}}
    
    <h1 class='tresc'>{{text}}</h1>
    <div class="contact_container">
            <form id="contactForm" method="post" action="send">
                <h3 id="contactH1">Napisz do nas:</h3>
                <input placeholder="Twój adres E-mail" type="email" name="email" id="emailContactInput" required>
                <input placeholder="Temat" type="name" name="subject" id="nameContactInput" required>
                <textarea name="text" cols="30" rows="10" id="contactTextInput" required placeholder="Twoja wiadomość"></textarea>
                <div id="contactFormBTN"><button type="submit">Wyślij <i class="fas fa-paper-plane" id="planeLogo"></i></button></div>
            </form>
    </div>
        
        
    {{>footer}}
</body>
</html>
