<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/logoFavicon.png">
    <title>{{title}}</title>
</head>
<body>
    {{>header}}
    
    <h1 class='tresc'>{{text}}</h1>
    <div class="contact_container">
            <a class="contact_info"><i class="fas fa-phone-volume fa-2x"></i>Telefon: <span>+41 11 11 11 11</span></a>
            <a class="contact_info" href="mailto:borysj98@gmail.com"><i class="fas fa-at fa-2x"></i>E-mail: <span>kryptorakiety@gmail.com</span></a>
    </div>
        
        
    {{>footer}}
</body>
</html>
