<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/krypto_rakiety_favicon.png">
    <title>{{title}}</title>
</head>
<body>
    {{>header}}
    <div class="aboutHead">
        <div class="aboutTresc">
            <h1 class='trescAbout'>{{text}} KryptoRakiety </h1>
            <p class="pAbout">Aplikacja webowa KryptoRakiety zostaa stworzona na potrzebe projektu in偶ynierskiego Jest to aplikacja kt贸ra ma zar贸wno zachci do dyskusji w tematyce codziennie rosncych 
            krytpowalut kt贸re zmieniaj nasz wiat. KryptoRakiety posiada aktualne kursy wszystkich najpopularniejszych kryptowalut jak i czat. W czacie mo偶na pisa grupowo w pokojach o tematyce kryptowalut. 
            Czat posiada pokoje do najpopularniejszych kryptowalut takich jak Bitcoin, Ethereum, Litecoin, Doge, Cardano, Shiba-Inu, Ripple itd. Jak i pokoje na tematy og贸lne lub np. "Szybkie Rakiety" kt贸re s po to aby
            odnajdowa nowe ciekawe waluty na kt贸rych da si szybko zarobi!
            </p>
        </div>
        
    </div>

</body>
</html>
