:root {
    --main_color:#432c72; 
}
*{
    padding:0;
    margin: 0;
 
}
body{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: rgb(255, 255, 255);
   
}

.hamburgerLogo{
    display: none;
}
.header_container{
    background: var(--main_color);
    width: 100%;
    margin: 0;
    
    padding:20px 0;
    display:flex;
    overflow-x: hidden;
    justify-content: center;
    
}

.logoContainer img{
    width: 100%;
    height: 100%;
    color: white;
}
.tekst{
    border-left: 2px solid white;
}
.tekst .tekstli{
    margin-left: 20px;
    
}
.headul{
    display:flex;
    margin-left:15px;
}
.lorem{
    margin-top: 35px;
    width: 100%;
    grid-row: 2;
    grid-column: 1;
    font-size: 18px;
    text-align: justify;
}
.imag_contain{
    position: relative;
    display: grid;
    width: 65%;
    margin: 0 auto;
    height: auto;
}
.imag_contain img{
    margin-top: 10px;
    max-width: 100%;
    max-height: 100%;
    
    grid-row: 1;
    grid-column: 2;
}
.tresc1{
    color:#333;
    width: 65%;
    margin: 0 auto;
    text-align: left;
    padding-top: 3%;
   
    font-size: 30px;
    font-weight: bold;
}
.tresc3{
    width: 100%;
    color: var(--main_color);
    margin-bottom: 20px;
    font-size:49px;
    font-weight: bold;
}
.czatujTeraz{
    display: grid;
    height: 800px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    
    
}
.linkJoinChat{
    color:white;
    text-decoration: none;
}
.chatCont {
  
    grid-column: 2;
    justify-items: start;
    align-items: center;
    height: 100%;
}
.chatContLorem{
    grid-column-start: 4;
    grid-column-end: 6;
    font-size: 18px;
    align-self: center;
    width: 80%;
    color:#333;
    text-align: justify;
}

.chatCont {
    width: 100%;
    display: grid;
}
.pageCurrency{
    width: 65%;
    display: grid;
    margin: 0px auto;
}
.chatCont img{
    height: 450px;
    border-radius: 12px;
    box-shadow: 2px 1px 7px #333;
    position: relative;
    left: 20px;
}

.pageCurrencyBlock{
    background: linear-gradient(var(--main_color),#7060BC);
    height: 800px;
    border-top: solid #333 0.5px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.pageCurrency{
    display: grid;
    width: 100%;
    grid-column-start: 2;
    grid-column-end:4;
    align-content:center;
   
}
.tresc2{
    color:white;
    width: 100%;
    font-size:49px;
    font-weight: bold;
}
.pageCurrencyBlock img{
    display: grid;
    
    align-self: center;
    justify-self: center;
    grid-column-start: 4;
    grid-column-end:5;
    max-height: 480px;
    max-width: 440px;

    border-radius: 10%;
    box-shadow: 0 0 9px #333;
}
.currencyLorem{
    margin-top: 20px;
    width: 80%;
    color: white;
    font-size: 18px;
    text-align: justify;
}

#btnJoinCurrency{
    position: relative;
    margin-top: 30px;
    background: white;
    color:var(--main_color);
    border: 2px solid white;
    padding: 20px 30px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
}
#btnJoinCurrency:hover{
    background: var(--main_color);
    color:white;    
    box-shadow: 0 0 4px white;
}



.btnJoinChat{
    background: var(--main_color);
    border: 2px solid white;
    color:white;
    margin-top: 35px;
    font-size: 20px;
    border-radius: 8px;
    padding: 20px 50px;
    font-weight: 600;
    box-shadow: 0 0 1px rgb(179, 179, 179);
}

.btnJoinChat:hover {
    border: 2px solid var(--main_color);
    background: white; 
    color:var(--main_color);
    cursor: pointer;
}
.btnJoinChat:hover > .linkJoinChat{
    color:var(--main_color);
}
.headul li{
    list-style-type: none;
    display: flex;
    align-items: center;
   
}
.headul li a{
    color:white;
    white-space: nowrap;
    margin: 0 8vh;
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
}
.headul li a:not(.tekstli):hover{
    border-bottom: 1px solid white;
}

.headul li a:focus{
    color: rgb(241, 241, 241);
}
.kursyContainer{
    background: #eee6fe;    ;
    padding:20px;
    
}
.kursy{
    width: 68%;
    margin: 2px auto;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.kursy div:not(.loadingbar){
    text-align: center;
    background: var(--main_color);

    color:white;
    margin: 10px;
    padding: 15px 5px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 92%;
    height: 82%;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    position: relative;
}
.kursy div:hover{
    box-shadow:1px 2px 2px #333;
    opacity: 0.95;
}

.kursy div span{
    font-size:22px;
    font-weight: 500;
}
.kursImg{
    margin: 10px auto;
    height: 50px;
    width: 50px;
    display: none;
}
.kursy div .createRankSymbol{
    font-size: 18px;
    color:rgb(167, 167, 167);
}
.createRankSymbol{
    font-size: 1px;
    position:absolute;
    top: 6px;
    left: 10px;
}

.h2kursy{
    color:#333;
    padding: 20px;
    font-size: 30px;
}

footer{
    position:relative;
    border-top: solid grey 1px;
    padding: 20px;
    bottom: 0;
    width:100;
    height: 110px;
    background:#7060BC;
}
footer ul{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 75%;
    
}
footer ul li{
    list-style-type: none;
    
}
footer ul li a{
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
}
.copyRight{
    margin: 0 auto;
    width: 70%;
}
.copyRight p{
    color:white;
    float: right;
    font-size: 13px;
}
.socialContainerFooter{
    display: flex;
}
.socialContainerFooter a{
    padding-right: 10px;
}
.socialContainerFooter a i:hover{
    color: rgb(233, 233, 233);
}
.crypto_container{
    width: 100%;
    overflow-x: auto;
    margin: 0;
    margin-top:2%;
}
.scrollingContainer{
    background: var(--main_color);
    border-radius: 8px;
    width: 50%;
    margin: 20px auto;
    color:white;
    
    
}
.scrollingContainer  #scroller{
    padding: 10px;
    
    width: 50%;
    display: flex;
    white-space: nowrap;
    text-transform: uppercase;
    animation: animate 20s linear infinite;
}
.scrollingContainer #scroller div{
    padding: 0 10px;
    align-self: center;
}
.scrollingContainer #scroller div img{
    align-self: center;
    padding:10px;
    
    width: 20px;
    height: 20px;
}


table{
    width: 65%;
    margin:10px auto;
    background:#ffffff;
    border-radius: 16px;
    display: none;
    
}
.crypto_head{
    border-bottom: solid rgb(235, 235, 235) 2px;
    
}
.crypto_head th{
    color:rgb(92, 92, 92); 
}
.headul .chatliheader a{
    border: solid white 1px;
    padding: 10px 20px;
    border-radius: 6px;
    
}

.headul .contactliheader a{
    border: solid white 1px;
    background: white;
    color: var(--main_color);
    font-weight: 700;
    border-radius: 6px;
    padding: 10px 20px;
    margin-right: -40px;
}
.headul .chatliheader a:hover{
    background: white;
    color: var(--main_color);
    font-weight: 700;
}
.headul .contactliheader a:hover{
    background: var(--main_color);
    color: white;
}
.crypto_head .coin_txt{
    position: relative;
    max-width: 40px;
    left: 46px;
   
 }
.loading-box{
    text-align: center;
    height: 600px;
    margin: 100px auto;
    font-size: 24px;
    font-weight: 600;
    color:#333;
}
.loadingBarTable{
    padding: 30px;
    background: #333;
}
#loadingbarP{
    padding:24px;
}


table tr:not(.crypto_head){
    height: 80px;
    
}
table tr th{
    text-align: left;
    
}


table tr td div{
    width: 40px;
    height: 40px;
    margin-left: 20px;
}

.icon img{
    max-width: 40px;
    max-height: 40px;
}


td{
    font-size: 16px;
}
table, td{
    border-top: 0.1px solid rgb(235, 235, 235);
    border-bottom: 0.1px solid rgb(235, 235, 235);
    text-align: left;
}

table,th{
    border-top: 0.1px solid rgb(235, 235, 235);
    border-bottom: 0.1px solid rgb(235, 235, 235);
    border-collapse: collapse;
    color:rgb(12, 11, 11);
    padding: 1em;
}

.th1{
    color: pink;
}




.tresc{
    color:#333;
    text-transform: capitalize;
    text-align: center;
    padding-top: 2.5%;
    font-size: 26px;
    font-weight: bold;  
    position: relative;
}
.tresc::before{
    content: "";
  position: absolute;
  
  bottom: -20px;
  width: 10%;
  height: 4px;
  left: 45%;
  border-radius: 20px;
  background:var(--main_color);
  z-index: -1;
  
}

.contact_container{ 
    
    margin: 40px auto;
    background:linear-gradient(var(--main_color),#7060BC);
    width: 60%;
   
    border-radius: 12px;
    margin-bottom: 6%;
    min-height: calc(66vh - 80px);
    display:flex;
    flex-direction: column;
   
    
   
}

.image_container i{
    color:grey;
    margin-top: 220px;
    position: absolute;
    opacity: 0.6;
    cursor: pointer;
    width: 50%;
} 


.headul a:hover{
    transform: scale(1.1);
}  

h2{
    padding: 6%;
    text-align: center;
    font-size: 24px;
    color: white;
}
.btn{
   
   margin-bottom: 50px;
   padding: 15px 25px;
   border-radius: 24px;
   font-size: 20px;
   border: none;
   background: white;
   font-weight: 500;
   display: inline-flex;
}
.fa-comments{
    margin-right: 8px;
}
.fa-comments:hover, .btn:hover{
    color:#4A00E0;
    box-shadow: 1px 2px 2px white;
}
.btn_container{
    margin-top: 20px;
    text-align: center;
}
.fa-search{
    right: 25%;
    top: 10%;
    position: absolute;
    color:white;
    font-size: 20px;
}
tr:not(.crypto_head):hover{
    background:rgb(240, 240, 240);
    transform: scale(1.05);
}
.icon{
    padding-left: 40px;
    max-width: 40px;
}

.rankN{
    left: 20px;
    padding-left: 30px;
}
.priceth{
    position: relative;
    right: 15px; 
}
.th24{
    position: relative;
   right: 15px;
}
.th7{
    position: relative;
    right: 15px;
}
.thHigh{
    position: relative;
    right: 15px;
}
.thLow{
    position: relative;
    right: 15px;
}
.cryptoID{
    position: relative;
    padding-left: 15px;
    text-transform: capitalize;
    padding-right: 20px;
    max-width: 100px;
    font-weight: 600;
}
.cena{

    padding-right: 5px;
    position: relative;
    
}

.symbol{
    text-transform: uppercase;
    font-size:12px;
    position: relative;
    
}
.containerCryptoSub{
    background: var(--main_color);
    color: white;
    width: 60%;
    margin: 0 auto;
    border-radius: 12px;
    padding: 30px;
    margin-top: 10px;
    display: grid;
    margin-top: 40px;
    margin-bottom: 10%;
    position: relative;
}
.containerCryptoSub p{
    padding: 5px 0px;
}
.cryptoSubImageDiv{
    grid-column: 1;
    grid-row: 1;
    width: 70px;
    position: relative;
    margin-top: 10px;
}
.cryptoSubID{
    text-transform: capitalize;
    font-weight: 700;
    font-size: 26px;
    grid-column: 2 /4;
    position: relative;
    grid-row: 1;
    top: 6px;
}

.cryptoSubMARKETCAP{
    font-size: 18px;
    grid-row: 2;
    grid-column: 4;
   
}
.cryptoSubMARKETCAP span{
    position: relative;
    float: right;
}
.cryptoSubPRICE span{
    position: relative;
    float: right;
}
.cryptoSubPRICE{
    grid-row: 1;
    grid-column: 4;
    align-self: flex-end;
    font-size: 18px;
}
.cryptoSubProcent{
    grid-row: 2;
    grid-column: 2 /4;
    font-size: 26px;
    position: absolute;
    left: 0%;
    top:-2%;
}

.cryptoSub24highlow{
    grid-row: 5;
    grid-column: 4/4;
    font-size: 18px;

}
.priceChangePercentage_24h{
    font-size: 18px;
    grid-row: 6;
    grid-column: 4/4;
}
.CirculatingSupply{
    grid-column: 4;
    font-size: 18px;
    grid-row: 3;
}
.CirculatingSupply span{
    position: relative;
    float: right;
}
.cryptoSub24highlow span{
    position: relative;
    float: right;
}
.cryptoSub24highlow #datahigh24{
    color: green;
}
.cryptoSub24highlow #datalow24{
    color: red;
}
.marketCapRank{
    grid-column: 1;
    grid-row: 2;
    font-size: 18px;
    color:rgb(172, 172, 172);
}
.marketCapRank span{
    position: relative;
    left: 12px;
}
.cryptoSubMaxSupply{
    grid-column:4;
    grid-row: 4;
    font-size: 18px;
}
.cryptoSubMaxSupply span{
    position: relative;
    float: right;
}
.cryptoHomeV{
    grid-row: 12;
    font-size: 18px;
    grid-column: 4;
}
.cryptoHomeV span{
    position: relative;
    float: right;
}
.cryptoHomeV span a{
    color:rgb(231, 231, 231);
}
.priceChangePercentage_7d{
    grid-row: 8;
    grid-column: 4;
    font-size: 18px;
}
.priceChangePercentage_14d{
    grid-row: 9;
    grid-column: 4;
    font-size: 18px;
}
.priceChangePercentage_30d{
    grid-row: 10;
    grid-column: 4;
    font-size: 18px;
}
.priceChangePercentage_1y{
    grid-row: 11;
    grid-column: 4;
    font-size: 18px;
}
.priceChangePercentage_7d span, .priceChangePercentage_14d span, .priceChangePercentage_30d span{
    position: relative;
    float: right;
}
.span24,.span1y{
    position: relative;
    float:right;
}
.mobileLogo{
    display: none;
}
.mainHot{
    margin: 0 auto;
    display:flex;
    width: 68%;
    padding:100px 0px;
    
}
.hotContainer{
    width: 100%;
    margin: 0;  
    text-align: center;
    height: 500px;
   
}
.hotCoin{
    position: relative;
    border-radius: 8px;
    width: 80%;
    padding: 30px;
    margin: 0 auto;
    background:#7060BC;
    box-shadow:2px #333;
}
.hotCoinImgContainer{
    max-height: 200px;
    width: 100%;
}
.hotCoinImg{
    max-height: 200px;
}
.hotCoinImg7{
    max-height: 200px;
}
.hotCoinId, .hotCoinId7{
    margin-top: 10px;
    text-transform: capitalize;
    color: white;
}

.hotCoin24Change{
    margin-top: 300px;
}
.strzal{
    font-size: 30px;
    color: #333;
    margin: 40px 0px;
}
.hotCoin24Price, .hotCoin7Price{
    color: white;
}
.hotCoinRank , .hotCoinRank7{
    position: absolute;
    top: 15px;
    left: 15px;
    color:whitesmoke;
}

/* About Page */
.aboutHead{
    background: linear-gradient(var(--main_color),#7060BC);
    height: 400px;
    width: 100%;
}
.aboutTresc{
    margin: 0 auto;
    width: 30%;
}
.trescAbout{
    color:white;
    text-transform: capitalize;
    padding-top: 10.5%;
    font-size: 32px;
    font-weight: bold;
}
.pAbout{
    color: white;
    font-size: 16px;
    margin-top: 20px;
    width: 600px;
    text-align: justify;
}
.chartContainer{
    margin: 20px auto;
    width: 60%;
    height: 100%;
    padding: 20px;
    background:WHITE;
    border-radius: 8px;
    border:2px solid #432c72;
    
}
#myChart{
    height: 100%;
    width: 100%;
}
.chartText{
    text-transform: capitalize;
    color:#333;
    font-size: 22px;
    padding:15px;
}
#chartTime{
    padding:6px 20px;
    border-radius: 8px;
    background: (108, 122, 137);
    color:var(--main_color);
    font-weight: 600;
    font-size: 18px;
    text-align: center;
}
.chartMenu{
    margin: 15px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.fullScreen{
    color:#333;
    font-size: 30px;
    padding: 0px 15px;
}

#contactForm{
    margin: 20px auto;
    display:block;
    height: 26rem;
    padding: 50px 0 ;
}

#contactForm input{
    display: block;
    border-radius: 4px;
    border: 1px solid grey;
    margin: 16px 0;
    font-size: 16px;
    width: 33rem;
    
}
#contactForm div{
    display: flex;
    justify-content: end;
}
#contactForm #contactFormBTN button{
    padding: 12px 40px;
    border-radius: 16px;
    border:1px solid #333;
    background-color:#7060BC;
    color:white;
    font-weight: bold;
    font-size: 16px;
    width: 50%;    
}
#contactForm #contactFormBTN button:hover{
    background-color:#7f72bd;
}
#emailContactInput, #nameContactInput{
    padding: 10px 5px;    
}
#contactTextInput{
    display: block;
    padding: 5px 5px;
    border-radius: 4px;
    border: 1px solid grey;
    margin: 16px 0;
    font-size: 16px;
    width: 33rem;
    font-family: inherit;
    resize: none;
}

.btnUp{
    position:fixed;
    bottom:10px;
    color: white;
    right: 30px;
    padding: 7px;
    border-radius: 24px;
    background: var(--main_color);
    z-index: 1;
   
}
.btnHide{
    display: none;
}
.btnShow{
    display: block;
}
.btnUp button{
    background-color: var(--main_color);
    border:none;
    padding:0px 10px;
}
.btnUp button i{
    color:white;
    font-size: 35px;
}
.loadingbar {
    border: 6px solid #ffffff;
    border-top: 6px solid #7f72bd;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin:0 auto;
    animation: spin 2s linear infinite;
  }
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.spinningContainer{
    background: #333;
    display: flex;
    position:relative;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    height: 36px;
}
.cryptoSpinItem{
    color:white;
    display: flex;
    width: 300px;
    font-size: 18px;
    text-transform:capitalize;
    padding:5px;
    animation: linear infinite scroller-left 13s;
}


.cryptoSpinName{
    position: relative;
    padding-left:100px;
    font-weight: 600;
}
.cryptoSpinPrice{
    padding: 0 20px;
    
}

@keyframes scroller-left {
    0% {
        transform: translate3d(400px, 0, 0);
      }
      100% {
        transform: translate3d(-3000px, 0, 0); /* The image width */
      }
}






@media  (max-width: 1300px) {
    .kursy{
        grid-template-columns: 1fr 1fr 1fr;
        height: 1000px;
    }
    .imag_contain{
        width: 82%;
    }
    .tresc1{
        width: 82%;
    }
    .tresc2, .tresc3{
        font-size: 40px;
    }
    .loremContainer{
        width: 100%;
    }
    .chatCont{
        width: 82%;
    }
   
}
@media screen and (max-width: 1200px){
    .mainHot{
        display: block;
        width: 85%;
    }
    .kursy{
        grid-template-columns: 1fr 1fr 1fr;
        height: 800px;
        width: 100%;
    }
    .kursImg{
        margin: 5px auto;
        height: 40px;
        width: 40px;
    }
    .headul li a{
        margin: 0 1.5em;
    }
    .containerCryptoSub{
        width: 70%;
    }
    .containerCryptoSub p:not(.cryptoSubID){
        font-size: 16px;
    }
    .cryptoSubID{
        font-size: 20px;
    }
    .marketCapRank span{
        left: 0
    }
    .headul .contactliheader a{
        margin-right: -20px;
    }
    footer ul{
        width: 90%;
    }
    .copyRight{
        width: 85%;
    }
    .chatContLoremP{
        width: 100%;
    }
    .chartContainer{
        width: 72%;
    }
}
@media screen and (max-width: 980px) {
    .contact_container{
        width: 100%;
        border-radius: 0;
    }
    .containerCryptoSub{
        margin-top: 20px;
        width: 90%;
        display: block;
        
    }
    .chartContainer{
        width: 90%;
    }
    .cryptoSubProcent{
        position: relative;
    }
    
    .headul{
        margin-left: 25px;
    }
    
    .headul li a{
        margin: 0 0.9em;
    }
    .tresc1{
        font-size: 24px;
    }
    .tresc2{
        width: 90%;
        margin: 20px auto;
    }
    .tresc2, .tresc3{
        font-size: 30px;
    }
    .czatujTeraz{
        height: 950px;
    }
    .czatujTeraz, .chatCont, .chatContLorem{
        display: block;
    }
    .chatCont{
        width: 100%;
        height: 400px;
    }
    #btnJoinCurrency{
        position: relative;
        left: 5%;
    }
    .chatContLorem{
        margin: 100px;
        height: 400px;
        width: 90%;
        margin: 100px auto;
    }
 
    .chatCont img{
        display: block;
        margin: 50px auto;
        width: 100%;
    }
    .chatCont{
        width: 100%;
    }
    .pageCurrencyBlock{
        margin-top: 110px;
        display: block;
        height: 900px;
    }
    .pageCurrency{
        display: block;

    }
    .pageCurrencyBlock img{
        margin: 30px auto;
        max-width: 90%;
    }
    .currencyLorem{
        width: 90%;
        
        margin:0 auto;
    }
    footer ul{
        width: 100%;
    }
}
@media screen and (max-width: 600px) {
    .mobileLogo{
        display: grid;
        grid-column: 1;
        margin-top: 5px;
        width: 100%;
        
        
    }
    .mobileLogo img{
        width: 70%;
       
    
    }
    .cryptoSpinItem{
        height: 21px;
        animation: scroller-left 15s linear infinite;
        font-size: 16px;
    }
    .spinningContainer{
        height: 21px;
    }

    .cryptoSpinPrice{
        padding: 0 12px;
        font-size: 16px;
    }
    
    .btnJoinChat{
        
        margin-top: 10px;
        font-size: 16px;
        border-radius: 8px;
        margin-left: 0px;
        padding: 20px 20px;
        font-weight: 600;
        
    }
    .kursyContainer{
        height: 950px;
        padding:12px;
    }
    .kursy{
        grid-template-columns: 1fr 1fr;
        height: 800px;
        width: 100%;
        justify-items: center;
        
    }
    .kursy div{
        margin:10px 0px;
        
    }
    .tresc{
        font-size: 22px;
        
    }
    .tresc1{
        font-size: 24px;
        color:var(--main_color);
        width: 90%;
        padding-top: 8%;
    }
    .tresc2{
        margin-top: 40px;
    }
    .pageCurrencyBlock img{
        margin-top: 50px;
    }
    .czatujTeraz{
        height: 960px;
    }
    .chatCont{
        width: 85%;
    }
    .chartText{
        font-size: 16px;
        padding-bottom: 0;
    }
    
    .containerCryptoSub .cryptoSubID{
        font-size: 18px;
    }
    .containerCryptoSub p{
        font-size: 14px;
    }
    .chartContainer{
        width: 100%;
    }
    
    .header_container{
        padding: 10px 0px;
        display: grid;
        align-items: center;
        justify-content: space-around;
    }
 
    footer{
        height:100%;
        padding: 0px;
        width: 100%;
       
    }
    footer ul{
        display: block;
       
        margin: 10px auto;
        width: 100%;
    }
    footer ul li{
        padding: 10px;
        margin-left: 20px;
    }
    footer ul li a{
        font-size: 14px;
    }
    .headul{
        grid-row: 2;
        margin-left: 0px;
        display:none;
        padding-bottom: 20px;
        
    }
    .headul li{
        padding: 15px 3px;
        margin: 0;
        width: 100%;
        
    }
    .headul li a{
        font-size: 14px;
        margin: 0px 0px;
    }
    .logoContainer{
        display: none;
       
    }
    .headul .contactliheader a{
        border: none;
        background: none;
        color: white;
        font-weight: normal;
        border-radius: 0;
        padding: 0;
        margin-right: 0;
    }
    .headul .chatliheader a{
        border: none;
        background: none;
        color: white;
        font-weight: normal;
        border-radius: 0;
        padding: 0;
        margin-right: 0;
    }
    .tekst{
        border-left: none;
        
    }
    .tekst .tekstli{
        margin: 0;
    }
    table tr td div{
        width: 30px;
        height: 30px;
        margin-left: 18px;
    }
    .crypto_head{
        font-size: 12px;
    }
    
   .icon img{
       max-width: 30px;
       max-height: 30px;
   }
   .icon{
    max-width: 30px;
    padding-left: 0;
    padding-right: -109px;
    }
    
    .cryptoID{
        left: 5px;
        text-transform: capitalize;
        padding-right: 20px;
        padding-left: 0px;
        
    }
    .cena{
    
        padding-right: 5px;
        position: relative;
        
    }
    .crypto_head .coin_txt{
        position: relative;
        left: -4px;
    }
    .nameth{
        padding-right: 29px;
        
    }
    table{
        margin: 0 auto;
    }
    table tr td{
        font-size: 14px;
    }
    .rankN{
        position: relative;
        left: -5px;
        
    }
    .imag_contain{
        display: block;
        width: 100%;
        text-align: center;
    }
    .imag_contain img{
        padding: 10px;
    }
    .lorem{
        width: 100%;
        text-align: justify;
        font-size: 16px;
        font-weight: 500;
        padding: 0;
        margin: 0 auto 20px auto;
       
        
    }
    .loremContainer{
        width: 90%;
        text-align: justify;
        font-size: 16px;
        padding: 0;
        margin: 0 auto 40px auto;
        margin-top:20px;
    }
  
    .tresc{
        padding: 20px;
        font-size: 22px;
        
    }
    .imag_contain img{
        width: 70%;
        height: 70%;
    }
    
   
    .hamburgerLogo{
        display: grid;
        grid-column: 2;
        grid-row: 1;
        margin-right: auto;
        width: 30px;
        height: 30px;
        
    }
    .menuIcon{
        margin: 5px 10px;
        width: 70%;
        height: 70%;
    }
    .containerCryptoSub{
        width: 100%;
        display: block;
        width: 80%;
        margin-bottom: 30%;
    }
  
    .hour24s{
        padding-right: 20px;
    }
    .cena, .sevendays, .niska{
        padding-right: 25px;
    }
    .wysoka{
        padding-right: 30px;
    }
    .contact_container{
        margin: 0 auto;
    }
    .symbol{
        font-size: 10px;
    }
    .mainHot{
        width: 95%;
        margin:0 auto;
        padding-top: 90px;
    }
    .strzal{
        margin: 25px 0;
    }
    .hotCoin{
        width: 90%;
        padding: 20px;
    }
    .hotCoinImg{
        max-height: 130px;
    }
    .hotCoinImg7{
        max-height: 130px;
    }
    .chartContainer{
        width: 95%;
    
        height: 500px;
        padding: 0;
        margin: 0 auto;
    }
    #myChart{
        min-height:350px;
    }
    .chartMenu{
        width: 90%;
    }
    #chartTime{
        padding: 4px 10px;
        border-radius: 8px;
        font-size: 14px; 
    }
    .fullScreen{
        padding: 0px;
    }
    .aboutHead{
        margin: 0 auto;
        height: 600px;
    }
    .aboutTresc{
        
        width: 100%;
    }
    .trescAbout{
        width: 90%;
        margin: 0 auto;
    }
    .pAbout{
        
        width:90%;
        margin: 30px auto;
    }
    .currencyLorem, .chatContLoremP{
        font-size: 16px;
    }
    #contactForm{
        width: 100%;
        
    }
    #contactForm input, #contactTextInput{
        width: 90%;
        margin-left: 4%;
    }
    #contactForm div{
        justify-content: center;
    }
   
  
}